%header.page__header
  .row
    .col-xs-12.col-sm-6
      .branding
        = link_to root_path do

          %span.branding__name
            = image_tag "logo-large.png", width: 32
            survhey
          %span.branding__message.hidden-xs= totally_randum_spork_message
    .col-xs-12.col-sm-6
      %ul.page__header__actions
        %li.primary
          = link_to new_survey_path do
            #{icon :lab} Create a survey

        %li= link_to "Your surveys", surveys_path
        %li= link_to "About", about_path
