= form_for(survey, html: { class: "survey__form" }) do |f|
  .form__heading
    .form__title Create a new survey
    %p.form__hint
      The best surveys are fun, simple and straight the point. If your device and browser
      support it, you can also use
      %strong emoji
      to spice things up &#x1f48B; &#x1F60A; &#x1F64C;


  .form__section
    = f.label :title, "Question:"
    = f.text_field :title, class: "text-input text-input--large", autofocus: true, placeholder: totally_random_question_placeholder

    = f.label :description, "Description:"

    = f.text_area :description, class: "text-input"

  .form__section
    = f.label :choices, "Choices:"
    %p.form__hint
      Choose the answers people can choose from when responding to your survey. Each person
      can pick one.
      %br
      You can add up to 25 choices. That should be enough, right?

    = react_component "Survhey.ChoicesForm"

  .form__section
    .checkbox-input
      = f.check_box :public, checked: true
      = f.label :public, "Make the survey results public?"

    %p.form__hint
      If you uncheck this box, only you will have access to the results.
      You can also share the secret link to the results page to share it with individuals.

  .form__actions
    = f.submit "Create survey", class: "btn"
