.survey__results#results
  - if survey.answers?
    .row
      .col-xs-12.col-sm-6
        .survey__results__summary
          %p.secondary-text
            Hover your mouse or tap on the sections of the chart to
            see more information.
          .survey__results__graph
            = react_component :ResultsChart, data: survey_graph_data(survey), id: "results-graph"
      .col-xs-12.col-sm-6
        - top_choice = survey.top_choice
        - answer = survey.answer_by(current_user)

        %ul.info-list
          %li
            .info-list__section-title Total answers:
            .info-list__section-body
              = survey.total_answers

          - if top_choice
            %li
              .info-list__section-title Top answer:
              .info-list__section-body= top_choice.body

          - if answer
            %li
              .info-list__section-title Your answer:
              .info-list__section-body.info-list__section-body--primary
                = answer.choice.body

  - else
    %p.no-content
      = icon :lab, "big-icon"

      This survey didn't receive any answers yet, check back soon!

      - if survey.created_by?(current_user)
        You can share it with your friends or colleagues by linking them to this page.
