- title @survey.title
- content_for(:page_description, @survey.description || "This survey has no description")

.row
  .col-md-12
    .survey
      .survey__header
        .survey__title= @survey.title
        .survey__description
          - if @survey.description.blank?
            This survey has no description
          - else
            = @survey.description

        %ul.survey__meta
          %li.survey__date #{icon(:calendar)} #{@survey.created_at.strftime("%Y-%m-%d")}
          %li.survey__visibility{class: "survey__visibility--#{@survey.public? ? :public : :private}"}
            - if @survey.public?
              #{icon(:eye)} The results of this survey are public
            - else
              #{icon(:lock)} The results of this survey are private

      - if @survey.answered?(current_user)
        - if @survey.public? || @survey.created_by?(current_user)
          = render "surveys/results", survey: @survey
        - else
          %p.no-content
            Thank you for answering this survey! Its creator has decided not to make the results
            public.
      - else
        = render "surveys/choices", survey: @survey

      - if @survey.created_by?(current_user)
        .survey__destroy
          - confirmation = "Are you sure? There's no way to undo this!"
          = link_to destroy_survey_path(@survey.private_url), data: { confirm: confirmation, method: :delete} do
            #{icon :trash} Delete this survey (and all its answers)
